@{
    ViewBag.Title = "RegisterConditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- RIBBON -->
<div id="main" role="main" ng-app="StockReceipt">
    @*<script src="~/Content/Js/libs/Print.js"></script>*@
    <script src="~/AngularApp/Stores/Manag/Gates/config.js"></script>
  

    <script src="~/AngularApp/Stores/Manag/Gates/Gates1.js"></script>
    <script src="~/AngularApp/Stores/Manag/Gates/GatesReport.js"></script>
   
    <div id="ribbon">
        <span class="ribbon-button-alignment">
            <i class="fa fa-lg fa-fw fa-home"></i>
        </span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>@ERP.WebUI.Models.Resource1.Home</li>
            <li>@ERP.WebUI.Models.Resource1.Stores</li>
            <li>@ERP.WebUI.Models.Resource1.operations</li>
            <li>@ERP.WebUI.Models.Resource1.InventoryManagement2</li>
        </ol>
    </div>
    <!-- END RIBBON -->
    <div id="content">
        @*<h1>Financial</h1>*@
        <header>
            <div ng-controller="ActiveClassController">
                
                <ul class="nav nav-tabs">
                    <li id="I_585" 
                        ng-class="{active : isActive('/Gates1')}"><a href="StoresManag/Gates#/Gates1/#I_585">البوابه</a></li>
                    <li id="I_595" 
                        ng-class="{active : isActive('/GatesReport')}"><a href="StoresManag/Gates#/GatesReport/#I_595">تقرير البوابه </a></li>
                  
                </ul>
            </div>
        </header>
        <div class="jarviswidget jarviswidget-sortable">
            <div role="content">                <div class="tab-content padding-10" ng-cloak="">
                    <div class="tab-pane active">
                        <div ng-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    checkview();
    function checkview() {

        $.ajax({
            type: "POST",
            url: "Priv/getcurrentrole",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result1) {
                $.ajax({
                    type: "POST",
                    url: "Priv/getoutroo",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({ "xx": result1 }),
                    async: true,
                    cache: false,
                    success: function (data) {

                        if (data.length == 0) {
                            window.location.href = "Home/index";
                        }
                        else {
                            for (var i = 0; i < data.length ; i++) {
                                $('#I_' + data[i].PagePriv_Id).removeClass("hide");
                            }
                        }
                    }
                });

            }
        });
    }
</script>
